.main-page {
    background-size: 1920px auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.main-sidebar{
    width: 240px;
    background-color: rgba(255, 255, 255, 0.05);
    position: fixed;
    top: 0;
    bottom: 144px;
    left: 0;
}

.sidebar-item{
    opacity: 0.8;
    height: 38px;
    font-size: 1.3rem;
    font-weight: 500px;
    display: flex;
    align-items: center;
    padding-left: 28px;
    cursor: pointer;
}


/*.logo{
    width: 240px;
    height: 80px;
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/06/52/music-player-icon-for-logos-websites-and-apps-vector-30290652.jpg); 
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 49%;
    opacity: 0.9;

} */

.personal{
    margin-bottom: 15px;
    position: relative;
}

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.line{
    margin: 0 var(--side-padding);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.library{
    height: calc(100vh - 421px);
    position: relative; 
}

.library-top-list{
    margin-top: 12px;
}

.sidebar-item.sidebar-item__active{
    background-color: var(--active-color);
    padding-left: calc(var(--side-padding) - 3px);
}

.library-bot-heading{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 30px var(--side-padding) 10px var(--side-padding);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*== Container ==*/

.container{
    position: absolute;
    top: 0;
    left: 240px;
    right: 329px;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 240px;
    right: 329px;
    z-index: 10;
}

.header {
    position: relative;
    height: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 30px;
}


.header__width-search-input{
    display: flex;
    align-items: center;
    position: fixed;
    left: 240px;
    top: 0;
    height: 30px;
    z-index: 99;
    min-width: 660px;
    transition: right .4s;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: transparent;
    border: none;
    width: 90%;
    padding: 8px 0;
    outline: none;
    opacity: 0.9;
    padding-left: 10px;
    z-index: 1;
}

.profile-name{
    align-items: center;
    display: flex;
    position: fixed;
    left: 580px;
    height: 200px;
    top: 0;
    z-index: 99;
    min-width: 660px;

}

.header__width-search-sub-header {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
    display: block;
}

.header__width-search-sub-list{
    padding-left: 0;
    list-style: none;
}

.header__width-search-sub-item-link{
    display: flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


